.site-wrapper {
  margin: 0 auto;
  padding-top: 40px;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 300px;
}

.banner {
  width: 40%;
  margin-top: 100px;
  align-self: center;
}

.title {
  text-align: center;
  margin-bottom: 66px;
}
