.call-to-action-bar {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  background-color: #004c3f;
  color: #fff;
  opacity: 0.95;
}

.call-to-action-bar .number {
  color: #93d030;
  font-style: bold;
  font-size: 24px;
}

.call-to-action-bar .statue {
  margin-right: 15px;
  margin-left: 15px;
  height: 36px;
  opacity: 0.8;
}
