.call-to-action-bar {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  /* background-color: #004c3f; */
  color: #fff;
  backdrop-filter: blur(5px);
  background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);
  background-size: 2em 2em;
  background-color: #181717;
  opacity: 0.95;
}

.call-to-action-bar .number {
  color: #93d030;
  font-style: bold;
  font-size: 24px;
}

.call-to-action-bar .statue {
  margin-right: 15px;
  margin-left: 15px;
  height: 36px;
  opacity: 0.8;
}
