.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  /* background-image: linear-gradient(
    -20deg,
    rgba(29, 28, 28, 0.95) 40%,
    rgba(24, 22, 22, 0.95) 100%
  ); */
  background-image: linear-gradient(
    -20deg,
    rgb(255, 255, 255, 0.95) 40%,
    rgb(116, 114, 114, 0.95) 100%
  );
  backdrop-filter: blur(5px);
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  opacity: 0.9;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #050505;
  overflow: hidden;
}

.background span {
  width: 3vmin;
  height: 3vmin;
  border-radius: 3vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 48;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #a8a99e;
  top: 97%;
  left: 83%;
  animation-duration: 21s;
  animation-delay: -16s;
  transform-origin: 1vw 21vh;
  box-shadow: 6vmin 0 1.1334554004062865vmin currentColor;
}
.background span:nth-child(1) {
  color: #959778;
  top: 55%;
  left: 33%;
  animation-duration: 23s;
  animation-delay: -17s;
  transform-origin: 7vw -14vh;
  box-shadow: 6vmin 0 1.18597981750612vmin currentColor;
}
.background span:nth-child(2) {
  color: #a8a99e;
  top: 39%;
  left: 48%;
  animation-duration: 23s;
  animation-delay: -17s;
  transform-origin: 0vw 19vh;
  box-shadow: 6vmin 0 1.55290416639993vmin currentColor;
}
.background span:nth-child(3) {
  color: #3a393c;
  top: 57%;
  left: 96%;
  animation-duration: 10s;
  animation-delay: -12s;
  transform-origin: -16vw -7vh;
  box-shadow: -6vmin 0 1.022372389654223vmin currentColor;
}
.background span:nth-child(4) {
  color: #959778;
  top: 82%;
  left: 42%;
  animation-duration: 23s;
  animation-delay: -6s;
  transform-origin: -10vw -14vh;
  box-shadow: -6vmin 0 0.7848940450355912vmin currentColor;
}
.background span:nth-child(5) {
  color: #3a393c;
  top: 97%;
  left: 34%;
  animation-duration: 11s;
  animation-delay: -8s;
  transform-origin: -8vw 15vh;
  box-shadow: 6vmin 0 1.3363335185396576vmin currentColor;
}
.background span:nth-child(6) {
  color: #3a393c;
  top: 81%;
  left: 73%;
  animation-duration: 20s;
  animation-delay: -18s;
  transform-origin: 24vw -14vh;
  box-shadow: -6vmin 0 0.8217416785806595vmin currentColor;
}
.background span:nth-child(7) {
  color: #a8a99e;
  top: 87%;
  left: 34%;
  animation-duration: 13s;
  animation-delay: -8s;
  transform-origin: 4vw -24vh;
  box-shadow: 6vmin 0 1.5077771356326308vmin currentColor;
}
.background span:nth-child(8) {
  color: #a8a99e;
  top: 44%;
  left: 23%;
  animation-duration: 12s;
  animation-delay: -20s;
  transform-origin: 4vw -16vh;
  box-shadow: -6vmin 0 1.5236313932534546vmin currentColor;
}
.background span:nth-child(9) {
  color: #3a393c;
  top: 14%;
  left: 86%;
  animation-duration: 16s;
  animation-delay: -9s;
  transform-origin: -10vw 21vh;
  box-shadow: -6vmin 0 0.8467579731158237vmin currentColor;
}
.background span:nth-child(10) {
  color: #a8a99e;
  top: 6%;
  left: 66%;
  animation-duration: 18s;
  animation-delay: -1s;
  transform-origin: 18vw -7vh;
  box-shadow: -6vmin 0 1.549016988141226vmin currentColor;
}
.background span:nth-child(11) {
  color: #a8a99e;
  top: 5%;
  left: 82%;
  animation-duration: 20s;
  animation-delay: -17s;
  transform-origin: 15vw -23vh;
  box-shadow: -6vmin 0 1.186665735929651vmin currentColor;
}
.background span:nth-child(12) {
  color: #959778;
  top: 6%;
  left: 32%;
  animation-duration: 24s;
  animation-delay: -10s;
  transform-origin: -11vw 11vh;
  box-shadow: -6vmin 0 0.8704346319892502vmin currentColor;
}
.background span:nth-child(13) {
  color: #a8a99e;
  top: 67%;
  left: 77%;
  animation-duration: 6s;
  animation-delay: -13s;
  transform-origin: 12vw 5vh;
  box-shadow: -6vmin 0 1.101551470773802vmin currentColor;
}
.background span:nth-child(14) {
  color: #959778;
  top: 20%;
  left: 61%;
  animation-duration: 12s;
  animation-delay: -17s;
  transform-origin: -12vw -13vh;
  box-shadow: 6vmin 0 1.4177621935880764vmin currentColor;
}
.background span:nth-child(15) {
  color: #3a393c;
  top: 50%;
  left: 100%;
  animation-duration: 18s;
  animation-delay: -8s;
  transform-origin: 15vw 0vh;
  box-shadow: -6vmin 0 0.9891348521350665vmin currentColor;
}
.background span:nth-child(16) {
  color: #959778;
  top: 37%;
  left: 91%;
  animation-duration: 20s;
  animation-delay: -2s;
  transform-origin: -19vw 4vh;
  box-shadow: 6vmin 0 1.4988064999472273vmin currentColor;
}
.background span:nth-child(17) {
  color: #959778;
  top: 11%;
  left: 25%;
  animation-duration: 8s;
  animation-delay: -9s;
  transform-origin: 25vw -10vh;
  box-shadow: -6vmin 0 1.6821711479514219vmin currentColor;
}
.background span:nth-child(18) {
  color: #3a393c;
  top: 31%;
  left: 55%;
  animation-duration: 12s;
  animation-delay: -12s;
  transform-origin: -3vw -24vh;
  box-shadow: 6vmin 0 0.8984361061848294vmin currentColor;
}
.background span:nth-child(19) {
  color: #959778;
  top: 27%;
  left: 84%;
  animation-duration: 10s;
  animation-delay: -2s;
  transform-origin: -17vw 16vh;
  box-shadow: 6vmin 0 1.0783456251094263vmin currentColor;
}
.background span:nth-child(20) {
  color: #a8a99e;
  top: 16%;
  left: 44%;
  animation-duration: 10s;
  animation-delay: -19s;
  transform-origin: -23vw 15vh;
  box-shadow: 6vmin 0 0.8376529032053772vmin currentColor;
}
.background span:nth-child(21) {
  color: #3a393c;
  top: 72%;
  left: 8%;
  animation-duration: 8s;
  animation-delay: -10s;
  transform-origin: -8vw -5vh;
  box-shadow: -6vmin 0 1.4177812947853516vmin currentColor;
}
.background span:nth-child(22) {
  color: #959778;
  top: 40%;
  left: 59%;
  animation-duration: 17s;
  animation-delay: -5s;
  transform-origin: -2vw -8vh;
  box-shadow: -6vmin 0 1.203705109925731vmin currentColor;
}
.background span:nth-child(23) {
  color: #a8a99e;
  top: 57%;
  left: 75%;
  animation-duration: 23s;
  animation-delay: -3s;
  transform-origin: 1vw 22vh;
  box-shadow: -6vmin 0 0.7676544739712456vmin currentColor;
}
.background span:nth-child(24) {
  color: #959778;
  top: 91%;
  left: 2%;
  animation-duration: 11s;
  animation-delay: -10s;
  transform-origin: 25vw 17vh;
  box-shadow: 6vmin 0 1.206553501585804vmin currentColor;
}
.background span:nth-child(25) {
  color: #959778;
  top: 77%;
  left: 94%;
  animation-duration: 10s;
  animation-delay: -11s;
  transform-origin: 18vw 13vh;
  box-shadow: -6vmin 0 0.7513545858456796vmin currentColor;
}
.background span:nth-child(26) {
  color: #959778;
  top: 22%;
  left: 82%;
  animation-duration: 19s;
  animation-delay: -15s;
  transform-origin: 12vw -22vh;
  box-shadow: -6vmin 0 1.1402478005661594vmin currentColor;
}
.background span:nth-child(27) {
  color: #3a393c;
  top: 87%;
  left: 75%;
  animation-duration: 14s;
  animation-delay: -4s;
  transform-origin: 20vw -6vh;
  box-shadow: 6vmin 0 1.003254054077332vmin currentColor;
}
.background span:nth-child(28) {
  color: #a8a99e;
  top: 76%;
  left: 62%;
  animation-duration: 12s;
  animation-delay: -11s;
  transform-origin: -23vw -2vh;
  box-shadow: -6vmin 0 1.5678064390970556vmin currentColor;
}
.background span:nth-child(29) {
  color: #a8a99e;
  top: 66%;
  left: 47%;
  animation-duration: 24s;
  animation-delay: -4s;
  transform-origin: 2vw 0vh;
  box-shadow: 6vmin 0 1.646864309751607vmin currentColor;
}
.background span:nth-child(30) {
  color: #3a393c;
  top: 60%;
  left: 18%;
  animation-duration: 9s;
  animation-delay: -2s;
  transform-origin: 8vw -5vh;
  box-shadow: 6vmin 0 1.1439609097544439vmin currentColor;
}
.background span:nth-child(31) {
  color: #959778;
  top: 93%;
  left: 88%;
  animation-duration: 24s;
  animation-delay: -3s;
  transform-origin: 3vw 24vh;
  box-shadow: 6vmin 0 1.3501298318375299vmin currentColor;
}
.background span:nth-child(32) {
  color: #3a393c;
  top: 99%;
  left: 60%;
  animation-duration: 24s;
  animation-delay: -19s;
  transform-origin: -20vw -16vh;
  box-shadow: -6vmin 0 1.7465706788711364vmin currentColor;
}
.background span:nth-child(33) {
  color: #959778;
  top: 51%;
  left: 93%;
  animation-duration: 23s;
  animation-delay: -7s;
  transform-origin: 1vw 15vh;
  box-shadow: -6vmin 0 1.6434841901218893vmin currentColor;
}
.background span:nth-child(34) {
  color: #3a393c;
  top: 91%;
  left: 75%;
  animation-duration: 19s;
  animation-delay: -12s;
  transform-origin: 16vw -1vh;
  box-shadow: -6vmin 0 0.8076501735129522vmin currentColor;
}
.background span:nth-child(35) {
  color: #959778;
  top: 70%;
  left: 61%;
  animation-duration: 7s;
  animation-delay: -15s;
  transform-origin: -2vw 5vh;
  box-shadow: -6vmin 0 1.213753290695346vmin currentColor;
}
.background span:nth-child(36) {
  color: #959778;
  top: 75%;
  left: 47%;
  animation-duration: 16s;
  animation-delay: -3s;
  transform-origin: 22vw 8vh;
  box-shadow: 6vmin 0 1.626342852067562vmin currentColor;
}
.background span:nth-child(37) {
  color: #3a393c;
  top: 60%;
  left: 36%;
  animation-duration: 6s;
  animation-delay: -17s;
  transform-origin: 9vw 1vh;
  box-shadow: -6vmin 0 0.8113080413435123vmin currentColor;
}
.background span:nth-child(38) {
  color: #a8a99e;
  top: 91%;
  left: 74%;
  animation-duration: 21s;
  animation-delay: -8s;
  transform-origin: 20vw -22vh;
  box-shadow: -6vmin 0 0.9958083406338243vmin currentColor;
}
.background span:nth-child(39) {
  color: #a8a99e;
  top: 84%;
  left: 98%;
  animation-duration: 9s;
  animation-delay: -20s;
  transform-origin: -1vw 7vh;
  box-shadow: 6vmin 0 1.2949654375063824vmin currentColor;
}
.background span:nth-child(40) {
  color: #3a393c;
  top: 70%;
  left: 21%;
  animation-duration: 14s;
  animation-delay: -14s;
  transform-origin: -7vw -2vh;
  box-shadow: 6vmin 0 0.9549921875412326vmin currentColor;
}
.background span:nth-child(41) {
  color: #3a393c;
  top: 53%;
  left: 29%;
  animation-duration: 8s;
  animation-delay: -4s;
  transform-origin: -6vw 10vh;
  box-shadow: 6vmin 0 1.3540438809436515vmin currentColor;
}
.background span:nth-child(42) {
  color: #3a393c;
  top: 36%;
  left: 36%;
  animation-duration: 11s;
  animation-delay: -1s;
  transform-origin: -1vw 16vh;
  box-shadow: 6vmin 0 1.0622932866317432vmin currentColor;
}
