.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgb(210, 210, 210) 0%, #fff 50%);
}

.header .title {
  text-align: center;
  margin: 20px 0;
  color: #004c3f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-style: italic;
  font-size: 62px;
}

.awards {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
  width: 180px;
}

.side-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-container {
  flex-grow: 1;
}

/* "shift" denotes classes for repositioning after initial search */
.center-children-shift {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-image: linear-gradient(rgb(210, 210, 210) 0%, #fff 100%);
}

.center-children-shift .side-item {
  flex-direction: row;
  flex-shrink: 1;
  width: 300px;
}

.center-children-shift .title {
  font-size: 24px;
}

@media screen and (min-width: 600px) {
  .center-children-shift .awards {
    margin: 10px;
    text-align: center;
    opacity: 0.6;
    width: 90px;
  }
}

@media screen and (max-width: 600px) {
  .center-children-shift {
    flex-wrap: wrap;
    justify-content: center;
  }

  .center-children-shift .search-container {
    margin: 10px;
  }

  .header .title {
    font-size: 45px;
  }

  .center-children-shift .title {
    font-size: 32px;
    margin-left: 15px;
  }

  .awards {
    width: 150px;
  }

  .center-children-shift .awards {
    width: 50px;
  }
}
