.no-results-message {
  text-align: center;
  align-self: center;
  width: 400px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #6b7177;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 40px;
}
