.card {
  width: 140px;
  margin: 1.5rem;
  display: inline-block;
  padding: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.nominated-poster {
  width: 50%;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  margin-left: 25%;
}

.movie-title {
  margin: 22px;
  width: 160px;
}

.hidden-button {
  position: absolute;
  z-index: 2;
  top: 265px;
  display: none;
  left: 0px;
  color: gold;
}

.card:hover .hidden-button {
  display: block;
}
