.overlay {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.overlay.ReactModal__Overlay--after-open {
  opacity: 1;
}

.overlay.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  box-shadow: 0px 10px 60px -15px rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  max-width: 800px;
  max-height: 100%;
  margin: 20px;
  padding: 15px;
  outline: none;
}

.modal.ReactModal__Content {
  opacity: 0;
  transform: scale(0.75);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}

.modal.ReactModal__Content--after-open {
  opacity: 1;
  transform: scale(1);
}

.modal.ReactModal__Content--before-close {
  opacity: 0;
  transform: scale(0.75);
}

.modal .column {
  padding: 0 10px;
}

.modal .column.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal .nominate-button {
  margin-top: 10px;
}

.movie-details {
  background: #383f41;
  padding: 15px 10px;
  border-radius: 5px;
  color: #fff;
  text-align: left;
}

.movie-details .title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.nominated .title {
  padding-right: 50px;
}

.movie-details .year {
  font-size: 22px;
  color: lightgrey;
}

.supporting-details {
  font-size: 14px;
  margin-top: 5px;
  font-weight: normal;
}

.plot {
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-top: 10px;
}

@media screen and (max-width: 630px) {
  .modal {
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: auto;
  }

  .modal .dismiss-button {
    top: 6px;
    left: 6px;
  }

  .modal .column {
    padding: 0;
  }
}
