.nominate-button {
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  display: flex;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.modal .nominate-button {
  bottom: 170px;
  left: 50px;
  opacity: 1;
}

.nominate-button button {
  cursor: pointer;
  color: #fff;
  font-weight: 18px;
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.75);
  height: 40px;
  width: 150px;
}

.movie:hover .nominate-button {
  opacity: 1;
}

.nominate-button:disabled {
  opacity: 0.75;
}
