.search-field {
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-field input {
  flex-grow: 1;
  min-width: 340px;
  max-width: 400px;
  padding: 15px 80px 15px 40px;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #6b7177;
  background: 10px 50% / 20px 20px no-repeat url(../images/search.svg) #fff;
}

.button-submit {
  align-self: center;
  max-height: 55px;
  margin-left: -75px;
  border: none;
  background: #008060;
  color: #fff;
  border-radius: 3px;
  padding: 12px;
  transition: all 0.2s;
}

.button-submit:hover {
  background: #8bca2f;
  color: #fff;
  cursor: pointer;
}
