/* Spotlight animations from https://codepen.io/caseymhunt/pen/honFp */

.spotlight {
  position: absolute;
  left: 50%;
  bottom: -50px;
  width: 500px;
  height: 100px;
  border-top: 5000px solid rgba(189, 199, 145, 0.25);
  border-left: 0px solid transparent;
  border-right: 450px solid transparent;
  background-color: transparent;
  transform-origin: 0 100% 0;
  transition: ease-in-out;
}

.spotlight.spotlight-1 {
  animation: spotlight-1-move 7s infinite;
}

.spotlight.spotlight-2 {
  animation: spotlight-2-move 7s infinite;
}

@keyframes spotlight-1-move {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes spotlight-2-move {
  0% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}
