.success-bar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 20px;
}

.success-text {
  height: 30px;
}

.number {
  color: #004c3f;
  font-style: bold;
  font-size: 24px;
}

.statue {
  padding: 8px;
  width: 40px;
  height: 98px;
  opacity: 0.8;
}

.star {
  font-size: 40px;
}

.reset-button {
  border: none;
  background: none;
  height: 30px;
}
