.success-bar {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 25px;
  font-size: 20px;
}

.success-text {
  margin-top: 150px;
  height: 30px;
  color: rgb(240, 240, 130);
  font-size: 24px;
}

.number {
  color: #004c3f;
  font-style: bold;
  font-size: 24px;
}

.success-bar .statue {
  padding: 8px;
  width: 40px;
  height: 98px;
  opacity: 0.8;
}

.star {
  font-size: 40px;
  margin-left: 5px;
}
